DB_HOST=localhost
DB_PORT=5434
DB_NAME=pain_radar
DB_USER=redbull1122
DB_PASSWORD=

GEMINI_API_KEY=your_gemini_api_key

SCRAPECREATORS_API_KEY=your_scrapecreators_api_key

TG_API_ID=
TG_API_HASH=
TG_SESSION=pain_radar
